
body{
    background-color: rgba(181, 181, 181, 0.4);
   /*1000px */
    min-height: 500px;
    max-height: 500px;
}
form{
    background-color: white;
    width: 50%;
    min-height: 400px;
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
    border: #d7d7d7 solid 4px;
    border-radius: 20px;
    box-shadow: black;
    padding: 20px;

}


h1{
    font-size: 50px;
    padding: 20px;
}
label{
  font-size: 22px;
}

button{
    margin: 20px;
}
.form-control{
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
p {
    display: none;
}
.usererror{
    display: block;
    color: red;
    font-size: 12px;
}
.nameerror{
    display: block;
    color: red;
    font-size: 12px;
}
.emailerror{
    display: block;
    color: red;
    font-size: 12px;
}
.passerror{
    display: block;
    color: red;
    font-size: 12px;
}
.notvalid{
    display: block;
    color: red;
    font-size: 20px;
}
h4{
    display: none;
}
.tableContent{
    background-color: white;
    width: 85%;
    height: auto;
    margin: 10%;
    text-align: center;
    border: #d7d7d7 solid 4px;
    border-radius: 20px;
    box-shadow: black;
    
}